<header class="header" #target>

  <div class="header-top">
    <div class="container-wrapper">
      <span class="mail">
        <a href="mailto:csinvhelp@gmail.com" class="dark-text" target="_blank">csinvhelp@gmail.com</a>
      </span>
      <div class="social">
        <a href="https://twitter.com/SteamInvHelper" class="twitterGroup" target="_blank" title="Our Steam group">
          Follow our Twitter Account
        </a>
        <a href="http://inventoryhelper.me/steamgroup" class="steamGroup" target="_blank" title="Our Steam group">
          Join our Steam Group </a>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container-wrapper">
      <a routerLink="main" class="logo"><img src="../assets/logo.png" alt="Steam Inventory Helper"></a>
      <div class="nav-bar-wrapper">
        <ul class="nav-bar">
          <li><a class="link" routerLink="faq">FAQ</a></li>
          <li><a class="link" href="mailto:csinvhelp@gmail.com">Support</a></li>
          <!--<li><a class="button nav-button help" routerLink="help">WE NEED YOUR HELP</a></li>-->
          <li><a class="button nav-button download" routerLink="download">DOWNLOAD</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>


<main>
  <router-outlet></router-outlet>
</main>


<footer class="footer">
  <div class="footer-top">
    <div class="container-wrapper">
      <div class="info">
        <span class="pretitle">WHO WE ARE</span>
        <span class="small-title">S.I.H.</span>
        <span class="description">Free browser extension for Steam trade offer system and Steam store. Make a "Level-Up" for your Steam experience.</span>
      </div>
      <div class="contacts">
        <span class="pretitle">CONTACT US</span>
        <span class="mail">
          <a href="mailto:csinvhelp@gmail.com" target="_blank" class="dark-text">csinvhelp@gmail.com</a>
        </span>
      </div>
      <div class="">
        <a href="mailto:csinvhelp@gmail.com" class="button support">SUPPORT</a>
      </div>
    </div>
  </div>


  <div class="footer-bottom">
    <div class="container-wrapper">
      <span class="rights">© 2020 All rights reserved.</span>
      <a routerLink="privacy" class="rights" (click)="scrollToElement(target)">Privacy Policy</a>
    </div>
  </div>
</footer>


