<div class="content-block content-privacy">
  <div class="content">
    <div class="privacy-block">
        <h1>Privacy Policy</h1>
        <i>Last updated: June 01, 2020</i>
        <p>
          Please carefully read this Privacy Policy ("<b>Policy</b>"), which governs how Svetla Commerce GmbH - Company
          No. 163321, Republic of Seychelles, Tenancy 10, Marina House, Eden Island, Mahe (“<b>Svetla Commerce GmbH</b>”,
          "<b>Service Provider</b>", "<b>we</b>"), collects, uses and discloses information, when you access or use the
          website <a href="http://steaminventoryhelper.com/" target="_blank">http://steaminventoryhelper.com/</a>
          (collectively with all of its subdomains and all their respective pages, the "<b>Website</b>"), the online
          services at the Website ("<b>Services</b>"), any software product including but not limited to "Steam
          Inventory Helper" extension software for Chrome web browser with ID: cmeakgjggjdlcpncigglobpjbkabhmjl
          (“Extension”) or when you otherwise interact with us. </p>
        <h2>Definitions</h2>
        <p>
          In addition to the definitions contained elsewhere in the text of this Policy, the following terms and
          expressions shall have the following meaning ascribed to them for use in this Policy: <br>

          "<b>Service Provider</b>" means the Svetla Commerce GmbH, a company registered under the laws of Republic of
          Seychelles with company number 23905 IBC 2017, its respective past, present and future employees, officers,
          directors, contractors, consultants, attorneys, accountants, financial advisors, equity holders, suppliers,
          vendors, service providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors,
          successors and assigns. <br>

          "<b>Consent</b>" has the meaning set out for this term in Article 5.1. hereof. <br>

          "<b>Controller</b>" or "<b>controller responsible for the processing</b>" means the natural or legal person,
          public authority, agency or other body which, alone or jointly with others, determines the purposes and means
          of the processing of personal data; where the purposes and means of such processing are determined by EU
          legislation. <br>

          "<b>Cookies</b>" means a text file containing an identifier (a string of letters and numbers) that is sent by
          a web server to a web browser and is stored by the browser. The identifier is then sent back to the server
          each time the browser requests a page from the server. Cookies may be either "persistent" cookies or "session"
          cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date,
          unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end
          of the user session, when the web browser is closed. Cookies do not typically contain any information that
          personally identifies a user, but personal information that we store about you may be linked to the
          information stored in and obtained from cookies. For more information on managing cookies, please go to <a href="www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>, or visit <a href="www.youronlinechoices.com" target="_blank">www.youronlinechoices.com</a>. <br>

          "<b>Data subject</b>" means any identified or identifiable natural person, whose personal data is processed by
          the controller responsible for the processing. <br>

          "<b>EU Persons</b>" means Personal Data subjects who are in the European Union. <br>

          "<b>GDPR</b>" means Regulation (EU) 2016/679 of the European Parliament and the Council of 27 April 2016, on
          the protection of natural persons with regard to the processing of personal data and on the free movement of
          such data and repealing Directive 95/46/EC (General Data Protection Regulation). <br>

          "<b>Personal Data</b>" means any information relating to an identified or identifiable natural person (data
          subject); an identifiable natural person is one who can be identified, directly or indirectly, in particular
          by reference to an identifier such as a name, an identification number, location data, an online identifier or
          to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social
          identity of that natural person. <br>

          "<b>Processing</b>" means any operation or set of operations which is performed on Personal Data or on sets of
          Personal Data, whether or not by automated means, such as collection, recording, organization, structuring,
          storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or
          otherwise making available, alignment or combination, restriction, erasure or destruction. "<b>Process</b>", "<b>Processed</b>"
          and other similar terms shall be construed accordingly. <br>

          "<b>Processor</b>" means a natural or legal person, public authority, agency or other body which processes
          personal data on behalf of the controller. <br>

          "<b>Profiling</b>" means any form of automated processing of personal data consisting of the use of personal
          data to evaluate certain personal aspects relating to a natural person, in particular to analyze or predict
          aspects concerning that natural person's performance at work, economic situation, health, personal
          preferences, interests, reliability, behavior, location or movements. <br>

          "<b>Recipient</b>" means a natural or legal person, public authority, agency or another body, to which the
          personal data are disclosed, whether a third party or not. However, public authorities which may receive
          personal data in the framework of a particular inquiry in accordance with Union or Member State law shall not
          be regarded as recipients; the processing of those data by those public authorities shall be in compliance
          with the applicable data protection rules according to the purposes of the processing. <br>

          "<b>Restriction of processing</b>" means the marking of stored personal data with the aim of limiting their
          processing in the future. <br>
        </p>
        <h2>Applicability and Acceptance of Policy</h2>
        <p>This Policy defines the Personal Data, explains how Personal Data is used and Processed, and in instances
          when the Service Provider shares or permits collection of the Personal Data by the Service Provider or state
          authorities.</p>
        <p>This Policy shall come into effect at the moment you first access to the Website or commence use of any of
          the Services. By accessing, browsing or using the Website and/or any of the Services you irrevocably and
          unconditionally accept and adhere to provisions of this Policy without any exemptions, limitations and/or
          exclusions.</p>
        <p>If you access to the Website or use any of the Services on behalf of a business (whether registered or
          operating without registration), that business hereby accepts this Policy. </p>
        <p>In the event you disagree with any provision of this Policy or would not like to provide your consent for
          Processing of your Personal Data, you shall cease using the Website or any of the Services immediately.</p>
        <h2>Information about the Data Controller</h2>
        <p>The data controller of this Website and Extension is <b>Svetla Commerce GmbH</b>. Contact details may be
          received by sending request to: csinvhelp@gmail.com.</p>

        <h2>Legal Grounds for Personal Data Processing</h2>
        <p>Processing of Personal Data is permitted only on the following legal grounds:</p>
        <ul>
          <li><b>Consent to Personal Data Processing</b>, when the data subject has given Consent to the Processing of
            his or her Personal Data for one or more specific purposes;
          </li>
          <li><b>contractual relationships</b>, where the Personal Data Processing is necessary for the performance of a
            contract to which the data subject is party or in order to take steps at the request of the data subject
            prior to entering into a contract;
          </li>
          <li><b>controller's legal obligation</b>, when the Processing is necessary for compliance with a legal
            obligation to which the controller is subject;
          </li>
          <li>
            <b>vital interests protection</b>, when the Processing is necessary in order to protect the vital interests
            of the data subject or of another natural person;
          </li>
          <li>
            <b>public interests compliance</b>, when the Processing is necessary for the performance of a task carried
            out in the public interest or in the exercise of an official authority vested in the controller;
          </li>
          <li>
            <b>controller's legitimate interests</b>, when the Processing is necessary for the purposes of the
            legitimate interests pursued by the controller or by a third party, except where such interests are
            overridden by the interests or fundamental rights and freedoms of the data subject which require protection
            of Personal Data, in particular where the data subject is a child.
          </li>
        </ul>
        <p>We Process your Personal Data on the basis that it is:</p>
        <ul>
          <li>
            <b>necessary for the performance of a contract</b>, therefore, where we have a contract with you, we will
            process your Personal Data in order to fulfil that contract (in particular, to provide you with the
            Services);
          </li>
          <li>
            <b>authorized</b> by your Consent, which you give us as it is set out in Article 5 (Consent to Personal Data
            Processing) hereof;
          </li>
          <li>
            <b>necessary for compliance with our legal obligation</b>, in particular, when we are obliged to respond to
            a court order or a regulator;
          </li>
          <li>
            <b>necessary for performance our legitimate interests</b>, as it is more detailed described in Article 4.3
            hereof; or
          </li>
          <li><b>permitted by applicable legislation</b>, if the respective legal ground for Personal Data Processing is
            not mentioned in, or contradicts to, the provisions of this Policy.
          </li>
          <li>You are welcome to contact us for further details on the legal grounds that we rely on, in relation to any
            specific Processing of your Personal Data.
          </li>
        </ul>
        <p>
          We Process the Personal Data for a number of legitimate interests, including to provide and improve the
          Services, administer our relationship with you and our business, for marketing, and in order to exercise our
          rights and responsibilities. In particular, we Process the Personal Data to: </p>

        <ul>
          <li>set up and administer your user profile, provide technical and customer support and training, verify your
            identity, and send important subscription and service information;
          </li>
          <li>administer our relationship with you, our business and our third-party providers (e.g., to send invoices);
          </li>
          <li>deliver and suggest tailored content such as news, research, reports and business information. We analyse
            the way you use our Services to make suggestions to you. on the features or Services that we believe you
            will also be interested in, and so that we can make our Services more user-friendly;
          </li>
          <li>personalize your experience with our Services. We may retain your browsing and usage information to make
            your searches within our Services more relevant and use those insights to target advertising to you online
            on our Website;
          </li>
          <li>share your Personal Data across our Services so that we can make all the Services we deliver to you more
            intuitive (e.g., rather than requiring you to enter the same data many times);
          </li>
          <li>contact you in relation to, and conduct, surveys or polls you choose to take part in and to analyse the
            data collected for market research purposes;
          </li>
          <li>display information you choose to post, share, upload or make available;</li>
          <li>conduct internal research and development and to improve, test and enhance the features and functions of
            our Services;
          </li>
          <li>provide you with marketing materials as permitted by law;</li>
          <li>meet our internal and external audit requirements, including our information security obligations;</li>
          <li>exercise, protect and/or enforce our rights, privacy, safety, networks, systems and property, or those of
            other persons;
          </li>
          <li>prevent, detect or investigate a crime, fraud or other breach of law or requirement;</li>
          <li>prevent or detect any loss incurred by Service Provider or third persons;</li>
          <li>comply with requests from courts, law enforcement agencies, regulatory agencies, and other public and
            government authorities, including where they are outside your country of residence;
          </li>
          <li>defend Service Provider from claims;</li>
          <li>comply with laws and regulations that apply to us or third parties with whom we work.</li>
        </ul>
        <p>
          Where we rely on legitimate interests as a lawful ground for Processing your Personal Data, we balance those
          interests against your interests, fundamental rights and freedoms. For more information on how this balancing
          exercise has been carried out, please contact us by sending an email to csinvhelp@gmail.com. </p>

        <h2>Consent to Personal Data Processing</h2>
        <h3>§1. EU Persons Consent to Personal Data Processing</h3>
        <ul>
          <li>If you are an EU Person and to Process your Personal Data we need to receive your consent, as it is
            prescribed by GDPR, we will process your Personal Data only in the case we have received from you a freely
            given, specific, informed and unambiguous indication of your wishes by which you signify agreement to the
            processing of your Personal Data ("Consent").
          </li>
          <li>You may give your Consent by ticking a box when visiting the Website In the case you tick the respective
            box, you irrevocably and unconditionally consent and agree that the Service Provider shall be entitled to
            Process your Personal Data as it is indicated by your Consent.
          </li>
          <li>Your Consent covers all Processing activities with your Personal Data carried out for the same purpose or
            purposes. When the Processing has multiple purposes, your Consent should be deemed given for all of them.
          </li>
          <li>You have the right to withdraw your Consent at any time. You can submit such request by sending us an
            email to csinvhelp@gmail.com. Your withdrawal of Consent shall not affect the lawfulness of your Personal
            Data Processing based on Consent before its withdrawal.
          </li>
          <li>Except as required or enabled by law, we will not use or disclose your Personal Data for any purpose for
            which you refuse Consent or later withdraw your Consent. If you withdraw Consent, you agree that in spite of
            this withdrawal, we may continue to use those Personal Data previously provided to us to the extent that we
            are contractually or otherwise legally obliged to do so and to the extent necessary to enforce any
            contractual obligation you may have towards the Service Provider or in any other way permitted by law. You
            also understand that although you can use the Website for some purposes without providing your Personal
            Data, we need certain Personal Data, including data linked to payment or involving an ongoing relationship
            with the Service Provider or our partners. If you refuse to provide us with Personal Data we require or
            later withdraw your consent, we may no longer be able to provide you with certain Services or access to the
            Website
          </li>
        </ul>
        <h3>§2. Non-EU Persons Consent to Personal Data Processing</h3>
        <p>If you are not an EU Person, by transferring to us your Personal Data via the Website or otherwise, you
          irrevocably and unconditionally consent and agree that the Service Provider shall be entitled, in accordance
          with this Policy:</p>
        <ul>
          <li>To Process in any manner, including to collect, store, use, disclose, share and transfer (including
            cross-border), your Personal Data so provided to us, as well as your Personal Data collected from your use
            of the Website and the Services (i.e. your Personal Data which we collet automatically and/or from other
            sources); and
          </li>
          <li>to use cookies and web beacons (pixel tags) to collect your Personal Data and associate the Personal Data
            with your computer and web browser.
          </li>
        </ul>
        <h2>Collection of Personal Data</h2>
        <h3>§1. General Provisions</h3>
        <ul>
          <li>The type of Personal Data we collect depends on how you are interacting with us and which Services you are
            purchasing or using. In many cases, you can choose whether or not to provide us with Personal Data, but if
            you choose not to, you may not get full functionality from the Website or its additional Services.
          </li>
          <li>When you visit the Website, you may provide us with the following types of Personal Data: (i) Personal
            Data that you voluntarily disclose that is collected on an individual basis; (ii) Personal Data collected
            automatically when you use the Website and its Services; and (iii) Personal Data which we collect from
            sources other than the Website.
          </li>
          <li>You may always refuse to supply your Personal Data, though this may prevent you from engaging in certain
            activities and/or obtaining certain Services.
          </li>
          <li>The Website contains links to other third-party websites that may collect Personal Data about you,
            including through cookies or other technologies. If you use our links to visit another websites you will
            exit the Website and this Policy will not apply to your use of, and activity on those other websites. You
            should consult these other websites' privacy policies as we have no control over them and are not
            responsible for any information that is submitted to or collected by these third parties.
          </li>
        </ul>
        <h3>§2. Personal Data You Provide to Us</h3>
        <p>In order to perform the Services and the functionality of the Extension and the Website we are entitled to
          ask you to provide Service Provider with your Personal Data, including (but not limited):</p>

        <div class="privacy-grid">
          <div class="privacy-grid-point">1</div>
          <div class="privacy-gird-title">Processed data:</div>
          <div class="privacy-grid-text">Pseudonymized User’s API key from <a href="https://steamcommunity.com/dev/apikey" target="_blank">https://steamcommunity.com/dev/apikey</a>
          </div>
          <div class="privacy-gird-title">Purpose:</div>
          <div class="privacy-grid-text">For association of User with its Steam Account at <a href="https://store.steampowered.com" target="_blank">https://store.steampowered.com</a> without
            processing of his/her personal data and to check User’s history of trade offers in Steam account.
          </div>
          <div class="privacy-grid-point">2</div>
          <div class="privacy-gird-title">Processed data:</div>
          <div class="privacy-grid-text">Pseudonymized steamId of user’s account at <a href="https://store.steampowered.com" target="_blank">https://store.steampowered.com</a></div>
          <div class="privacy-gird-title">Purpose:</div>
          <div class="privacy-grid-text">To ensure that additional Extension functions are working properly and to
            receive User’s authorization in Steam system. To get publicly available information about the user in his
            Steam profile, availability of bans / restrictions / blocking of the profile, profile level and the user's
            badges.
          </div>
          <div class="privacy-grid-point">3</div>
          <div class="privacy-gird-title">Processed data:</div>
          <div class="privacy-grid-text">User’s country of residence</div>
          <div class="privacy-gird-title">Purpose:</div>
          <div class="privacy-grid-text">To process appId of applications in <a href="https://store.steampowered.com" target="_blank">https://store.steampowered.com</a>
            to receive regional limitations and pricing.
          </div>
          <div class="privacy-grid-point">4</div>
          <div class="privacy-gird-title">Processed data:</div>
          <div class="privacy-grid-text">Permission to access third-party sites to transfer non-personalized statistical
            data about game items
          </div>
          <div class="privacy-gird-title">Purpose:</div>
          <div class="privacy-grid-text">To display information about a game item.To save information for the user about
            the game items in the Extension in his browser.To compare price characteristics of different sources,
            including the use of different currencies for clarity. To ensure that additional Extension functions are
            working properly
          </div>
          <div class="privacy-grid-point">5</div>
          <div class="privacy-gird-title">Processed data:</div>
          <div class="privacy-grid-text">E-mail address</div>
          <div class="privacy-gird-title">Purpose:</div>
          <div class="privacy-grid-text">To provide response when you contact us via Email</div>
        </div>

        <ul>
          <li>Personal Data set out in Article 6.5. hereof is collected only when voluntarily offered, and solely for
            purposes that are clearly identified at the Website or in this Policy.
          </li>
          <li>Without prejudice to the provisions set out in any other user terms and conditions of SIH, in the case you
            do not provide Service Provider with the Personal Data set out in Article 6.5. hereof, or provide them with
            inaccurate, misleading or incomplete Personal Data, Service Provider at its sole discretion shall be
            entitled, without any notice to you, to:
          </li>
          <li>impose limitations and restrictions on your use of the Website and/or the Services; and/or</li>
          <li>suspend or terminate your access to the Website or Extension.</li>
        </ul>
        <h3>§3. Personal Data We Collect Automatically</h3>
        <p>The Extension automatically collect:</p>
        <div class="privacy-grid">
          <div class="privacy-grid-point">1</div>
          <div class="privacy-gird-title">Processed data:</div>
          <div class="privacy-grid-text">Information about your statistics (public statistics from the game) available
            at<a href="https://store.steampowered.com" target="_blank">https://store.steampowered.com.</a></div>
          <div class="privacy-gird-title">Purpose:</div>
          <div class="privacy-grid-text">To show you your progress To ensure that additional Extension functions are
            working properly
          </div>
          <div class="privacy-grid-point">2</div>
          <div class="privacy-gird-title">Processed data:</div>
          <div class="privacy-grid-text">Statistical data about game items available at <a href="https://store.steampowered.com" target="_blank">https://store.steampowered.com</a>.
          </div>
          <div class="privacy-gird-title">Purpose:</div>
          <div class="privacy-grid-text">To display information about a game item.To save information for the user about
            the game items in the Extension in his browser.To compare price characteristics of different sources,
            including the use of different currencies for clarity. To ensure that additional Extension functions are
            working properly
          </div>
        </div>
        <p>
          Service Provider may collect the Personal Data from you in a variety of ways and circumstances, including, but
          not limited to, registration at the Website, placement of an order or a request (if applicable), subscription
          to a newsletter, response to a survey, filling out a form, use of a live chat (if applicable), providing us
          with feedback on our products or Services. Service Provider shall be entitled to combine Personal Data
          collected in the course of your interaction with different sections of the Website or the Services with any
          other relevant available information. </p>
        <p>Personal Data collected by or transmitted to Service Provider in the course of accessing, interacting and
          operating of the Website and provision of the Services may include, without limitation, the following Personal
          Data:</p>
        <ul>
          <li>device information, which may include (but is not limited to) information about the computer or mobile
            device you use to access the Website, including the hardware model, operating system and version, the web
            browser you use, and other device identifiers;
          </li>
          <li>usage information and browsing history, such as, information about how you navigate within the Website,
            your browsing history and which elements of the Website or which Services you use the most;
          </li>
          <li>location data, for Services with location-enhanced features. If we need your consent to collect
            geo-location data, we will collect this separately;
          </li>
          <li>demographic information, such as, your country, and preferred language;</li>
          <li>usage information. If you use the Website, we will collect metadata about the files you upload for storage
            and we will record instances in which you have used your private key to authenticate communications;
          </li>
          <li>information collected by cookies and other tracking technologies. We and our service providers use various
            technologies to collect information when you interact with the Website, including cookies and web beacons.
            ‘Cookies’ are small data files that are stored on your device when you visit a website which enable us to
            collect information about your device identifiers, IP address, web browsers used to access the Website,
            pages or features viewed, time spent on pages, mobile app performance and links clicked. Web beacons are
            graphic images that are placed on a website or in an email that is used to monitor the behavior of the user
            visiting the website or sending the email. They are often used in combination with cookies.
          </li>
        </ul>
        <p>Invitations. If another User sends you an invitation through the Website, Service Provider may receive
          certain personal information, such as your name, email address, or phone number. If you are an invited guest,
          we will automatically send you an invitation to our Platform, and, if unanswered, a one-time follow-up
          invitation. Service Provider stores this contact information only to send these invitations and evaluate their
          success. You may unsubscribe from future invitations using the instructions in those messages. You may also
          contact us at csinvhelp@gmail.com to request that we remove this information from our database.</p>
        <p>Personal Data collected hereunder in the course of operation of the Website and Extension and provision of
          the Services may differ depending on whether you access to the Website, Extension or the Services.</p>
        <p>The Website does not use cookies.</p>
        <p>The data subject to may, as stated above, prevent the setting of cookies through our Website at any point of
          time by means of a corresponding adjustment of the web browser used and thus permanently deny the setting of
          cookies. For example, most browsers allow you to refuse to accept cookies and to delete cookies. The methods
          for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date
          information about blocking and deleting cookies via these links:</p>
        <ul>
          <li>https://support.google.com/chrome/answer/95647?hl=en (Chrome);</li>
          <li>https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences (Firefox);</li>
          <li>http://www.opera.com/help/tutorials/security/cookies/ (Opera);</li>
          <li>https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies (Internet
            Explorer);
          </li>
          <li>https://support.apple.com/kb/PH21411 (Safari); and</li>
          <li>https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy (Edge).</li>
        </ul>

        <p>You may also act according to the following:</p>
        <h4>Opting-Out</h4>
        <p>As part of our commitment to fair information practices, Service Provider allows you to opt out of the use of
          information, about your activities on other websites to provide you with Interest-based advertising. You can
          opt out of Google Analytics by installing Google’s opt-out browser add-on, and out of interest-based Google
          ads using Google’s Ads Settings. Even if you opt out, you may still receive Service Provider`s advertising. It
          just means that the advertising you see will not be customized for you.</p>
        <h4>Refusing Cookies</h4>
        <p>We and our affiliates honor, Do Not Track (DNT) signals and Do Not Track, plant cookies, or use advertising
          when a Do Not Track browser mechanism is in place. You can limit the collection of your information by
          disabling cookies on your browser. You may also be able to modify your browser settings to ‘require your
          permission’ each time a site attempts to set a cookie. However, our Website (and many other websites) rely on
          cookies to enable certain functionality. If you choose to disable cookies, some of the services available on
          our Website may not work properly.</p>
        <h4>Caution regarding automatic Cookie Functionality</h4>
        <p>Browsers such as Microsoft Internet Explorer allow you to store passwords and login IDs so you do not need to
          re-enter this information each time you access a web site. Service Provider strongly urges you NOT to use this
          functionality to prevent unauthorized use of your online banking access code(s).</p>
        <p>The user is notified that blocking all cookies will have a negative impact upon the usability of many
          websites. If you block cookies, you will not be able to use all or certain features in our Website</p>
        <h3>§4. Data We Collect from Other Sources</h3>
        <p>We may also receive information about you from other sources, such as when you log into Extension by using
          your account credentials for a separate third-party service. We will receive information from that service as
          indicated in the relevant third party's authorization screen.</p>
        <h4>Use of Personal Data</h4>
        <p>We use Personal Data to provide and improve the Extension, Website and its Services and for other purposes
          that are in our legitimate interests, as well as for compliance purposes. </p>
        <p>We will use the Personal Data for purposes of:</p>
        <ul>
          <li>providing, maintaining, delivering or improving the Extension, Website, the Services or other products
            or services provided through the Website;
          </li>
          <li>verifying that you are a unique individual or entity;</li>
          <li>analysing and tracking Personal Data to determine the usefulness or popularity of certain content, and
            to better understand the online activity of the Extension and Website users;
          </li>
          <li>fulfilling our legal or regulatory requirements;</li>
          <li>providing you with the information, products or services that you have requested;</li>
          <li>answering your inquiry or responding to a communication from you;</li>
          <li>developing new products or services;</li>
          <li>sending you technical notices, support or administrative notifications;</li>
          <li>communicating with you about news, products, Services, events and other information we think will be of
            interest to you;
          </li>
          <li>monitoring and analysing trends, usage and activities in connection with the Extension, and the Website;
          </li>
          <li>detecting, investigating and preventing fraudulent transactions or unauthorized or illegal activities;
          </li>
          <li>protecting the rights and property of the Service Provider;</li>
          <li>linking, connecting or combining information we collect from or about you with other information; and
          </li>
          <li>carrying out with any other purpose or reason for which Personal Data was collected.</li>
        </ul>
        <h4>Disclosure of Personal Data</h4>
        <p>The Service Provider treats Personal Data as confidential and may not pass on or use any such data without
          valid legal grounds.</p>
        <p>We will only disclose your Personal Data in the following circumstances:</p>
        <ul>
          <li>with your Consent or at your instruction;</li>
          <li>
            with companies under common control or ownership with us or our offices internationally;
            <ul>
              <li>for everyday business purposes, such as to process transactions, maintain accounts, respond to court
                orders and legal investigations or report to credit bureaus;
              </li>
              <li>certain information you may choose to share may be displayed publicly, such as any content you post
                when you use interactive areas of the Extension, Website;
              </li>
              <li>in connection with a merger or sale of our company assets, or if we do a financing or are involved
                in an acquisition, or any other situation where Personal Data may be disclosed or transferred as one of
                our business assets;
              </li>
              <li>in response to a request for information if we believe disclosure is in accordance with, or required
                by, any applicable law, regulation or legal process, including but not limited in response to a request
                government authorities;
              </li>
              <li>if we believe your actions are inconsistent with our user agreements, policies or legislation, or to
                protect the rights, property and safety of any assets of the Service Provider or third parties;
              </li>
              <li>with third parties where aggregate Personal Data is disclosed which cannot be reasonably used to
                identify you.
              </li>
            </ul>
          </li>
        </ul>
        <p>Please note that third parties that support our customer identification and anti-fraud controls may retain
          and use information about you to perform services on our behalf and to improve their services. By using our
          Services, you consent to the retention and use of such information by these service providers to improve their
          services.</p>
        <p>Service Provider may without limitations share aggregated or de-identified information, which cannot
          reasonably be used to identify you.</p>

        <h4>Transmission of Personal Data</h4>
        <p>The transmission of Personal Data or any other information (including communications by e-mail) over the
          Internet or other publicly accessible networks is not one hundred percent secure. Service Provider is not
          liable for the security of any Personal Data or any other information you are transmitting over the Internet,
          or third-party content.</p>
        <p>Information about you may be transferred to, and processed in countries other than the country in which you
          are a resident. We have taken appropriate safeguards to require that your information will remain protected in
          accordance with this Privacy Policy.</p>
        <p>Transmission of Personal Data of European Union (EU) Persons to recipients, both internally or externally,
          is subject to the authorisation requirements and pursuant to defined purposes. Personal Data of EU Persons
          transmitted to a recipient outside the European Economic Area must be subject to protection at least
          equivalent to that sought by the General Data Protection Regulation (GDPR). It may be processed by a staff
          member operating outside the European Economic Area (EEA) who work for us or for one of our suppliers. Such
          staff may be engaged in amongst other things, the fulfilment of your order, the processing of your payment
          details and the provision of support services. By submitting your personal data, you agree to this transfer,
          storing or processing. We will take all steps reasonably necessary to ensure that your data is treated
          securely and in accordance with this privacy policy.</p>
        <h4>Protection of Personal Data. Security Measures</h4>
        <p>We take appropriate security, administrative and technical measures to protect any Personal Data you
          provide regarding the collection, storage and Processing of Personal Data, as well as security measures to
          protect your personal data against unauthorized access, modification, disclosure or destruction of your
          Personal Data. Some security measures that are used are data encryption (HTTPS) and control of access
          authorization to the Chrome online store account. Steam Inventory Helper is located only on the servers of the
          Chrome online store and doesn't have an external database where personal information could be stored.</p>
        <p>Personal Data is safeguarded from unauthorised access and unlawful Processing or disclosure, as well as
          accidental loss, modification or destruction, through state-of-the-art technical and organisational measures.
          These are adjusted and updated continuously in tandem with technical developments and organizational changes.
          Additionally, Personal Data protection audits and other controls are carried out on a regular basis.</p>
        <p>We take reasonable steps to protect the security of the Personal Data communicated through the Website and
          Extension. However, no computer security system is entirely fool proof and the Internet is not a secure method
          of transmitting information. As a result, we do not assume any responsibility for the Personal Data you submit
          to or receive from us through the Internet, or for any unauthorized access or use of that information, and we
          cannot and do not guarantee that information communicated by you to us or sent to you by us will be received,
          or that it will not be altered before or after its transmission to us. You agree to not hold Service Provider
          liable for any loss or damage of any sort incurred as a result of any misappropriation, interception,
          modification, deletion, destruction or use of information provided through the Extension and Website.</p>
        <p>Most web browsers are set to accept cookies as a default. You may wish to opt out by turning off cookies
          (please refer to the help menu on your browser); however, switching off cookies may restrict your use of the
          Website You may also opt out of receiving promotional communications from us at any time by following the
          instructions in those communications. If you opt out, we may still send you non-promotional communications,
          such as technical notices, support or administrative notifications.</p>
        <p>Personal Data provided to us is stored in accordance with applicable laws of the jurisdiction of the
          Service Provider. The period for which the Personal Data will be stored is determined by the applicable laws
          of the jurisdiction of the Service Provider. The Service Provider has ensured that appropriate security
          standards are in place regarding the safeguarding, confidentiality and security of Personal Data.</p>
        <h4>Retention of Information</h4>
        <p>In accordance with applicable laws and as needed to provide the Services to our users, Service Provider may
          hold your Personal Data. This requirement is conditioned by a need to comply with legal obligations and
          resolve possible disputes.</p>
        <p>Service Provider may retain your Personal Data so long as you use Extension. Moreover, your Personal Data
          may be held beyond the above-mentioned period until it is indispensable for the Service Provider to have
          relevant information to respond to any issues that may arise later.</p>
        <h4>EU Persons' Rights</h4>
        <p>The Service Provider value protection of all Extension, Website and Services users' rights relating to
          their Personal Data, hence, the Service Provider is committed to making sure you can exercise your respective
          rights effectively and free of charge. The Service Provider will ensure each your request related to your
          Personal Data be reviewed in a timely fashion.</p>
        <p>EU Persons shall acknowledge, that their rights relating to Personal Data are provided in the GDPR and
          other applicable laws of the member states of the European Union. In particular, EU Persons have the following
          rights relating to their Personal Data:</p>
        <ul>
          <li><b>right to access</b>. You can request access to your Personal Data and obtain a copy of such Personal
            Data in a format acceptable to you (e.g. PDF, DOC, DOCX, etc.). You can submit such request by sending an
            email to csinvhelp@gmail.com. After your request is received, our privacy team reviews the form and conducts
            requestor's identity verification, without undue delay. Upon successful verification, you are provided with
            a copy of your Personal Data;
          </li>
          <li><b>right to data portability</b>. You have the right to receive your Personal Data, which you have
            provided to us, in a structured, commonly used and machine-readable format and have the right to transmit
            those data to another service provider (controller) without hindrance from us;
          </li>
          <li><b>right to erasure ("Right to be forgotten") and right to rectification</b>. You are entitled to
            request erasure or rectification of your Personal Data by sending us a respective request to
            csinvhelp@gmail.com. We will handle requests for Personal Data to be rectified or deleted, unless there is a
            legal requirement that prohibits such request to be fulfilled. When request is fulfilled, you will be
            informed that your Personal Data is changed or erased and is not-longer collected, however, to fulfil our
            legal requirements the Service Provider will store information about each requestor for the purposes of
            providing an evidence that a request has been fulfilled;
          </li>
          <li><b>right to object</b>. At all times, you are entitled to object to Processing of your Personal Data.
            Right to object can be exercised by sending an email to csinvhelp@gmail.com. Upon receipt of the request,
            the Service Provider ceases the Processing, unless there is a legal or statutory ground for such Processing;
          </li>
          <li><b>right to be informed</b>. If you are inquiring about Processing activities conducted with respect to
            your Personal Data, the Service Provider, without undue delay, will provide information about: (i) purposes
            of Processing; (ii) categories and types of Personal Data; (iii) the recipients or categories of recipients
            to whom the personal data have been or will be disclosed to, in particular recipients in third party
            countries or international organizations (iii) retention period; (v) source of the relevant Personal Data;
            (vi) privacy rights and information on data portability; (vii) where the personal data are not collected
            from the data subject, any available information as to their source; (viii) the existence of automated
            decision-making, including profiling, referred to in Article 22(1) and (4) of the GDPR and, at least in
            those cases, meaningful information about the logic involved, as well as the significance and envisaged
            consequences of such processing for the data subject; (ix) information as to whether personal data are
            transferred to a third country or to an international organization. Where this is the case, the data in
            subject to, shall have the right to be informed of the appropriate safeguards relating to the transfer.
            However, all information about the categories of Personal Data and Processing operational conducted by
            Service Provider is available in this Policy; and
          </li>
          <li><b>the right to lodge a complaint with a supervisory authority</b>. Supervisory authority means an
            independent public authority which is established by an EU member state pursuant to Article 51 GDPR.
          </li>
        </ul>
        <h4>Children`s Privacy</h4>
        <p>Our Extension and services are not aimed at children under the age of 13 (as well as children who have not
          reached other applicable age of consent in accordance with the law), and we do not intentionally collect or
          solicit personal data from them. If we learn that we have unintentionally collected personal data from a child
          under 13 (or a child who has not reached the age of consent in accordance with applicable law) without the
          consent of his or her parental responsibility holder, we will take all reasonable steps to erase this
          information as soon as possible. If you find out that your child has provided us with his or her personal data
          without your consent, please contact us at csinvhelp@gmail.com. Please provide us with conclusive evidences
          that (a) personal data was provided by a child who has not reached the minimum age of consent in accordance
          with applicable law, and (b) you are his or her parental responsibility holder.</p>
        <p>[For our European users: We do not exactly know the age of our users, but before the first login in the Game,
          we always ask each user whether he or she has reached the age of 13 or other age required in accordance with
          the laws of his or her country (the age of consent in the European Union varies from 13 to 16 years depending
          on the country), and without confirmation of this fact we do not grant access to the Extension to such a user.
          Children who have not reached the age of consent in accordance with the laws of their country may use our
          Extension and the Website only upon the consent of their parental responsibility holder.]</p>
        <h4>Alterations to Policy</h4>
        <p>We have the right, at our discretion, to update this Policy at any time. We recommend that you frequently check this Policy to find any changes and stay informed about how we help protect the Personal Data.</p>
        <p>By using the Website, you will acknowledge and agree that it is your responsibility to periodically review this Policy and be aware of the changes.</p>
        <p>The subsequent use of the Website or the Services after changes to this Policy will also be considered as your acceptance of these changes.</p>
        <p>This Policy may from time to time be translated into other languages. To the extent that any discrepancy may exist between the English version of this Policy and its version in another language, the English version prevails.</p>

        <h4>Data Protection Officer</h4>
        <p>The Service Provider appoints an expert on data privacy who works independently to ensure that the Service
          Provider is adhering to the policies and procedures set forth in the GDPR (data protection officer). Data
          protection officer assists the Service Provider to monitor internal compliance, inform and advise on data
          protection obligations, provide advice regarding data protection impact assessments (DPIAs) and act as a
          contact point for data subjects and the supervisory authorities.</p>
        <p>In the case the Service Provider appoints such data protection officer, it will publish its contact details
          on the Website.</p>
        <h4>Feedback</h4>
        <p>We welcome your questions and suggestions with respect to the implementation or amendment of this Policy. Please use this feedback for communicating with us: csinvhelp@gmail.com.</p>

    </div>
  </div>
</div>
